<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mecca.meccurator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewMyListingsActivity"
            android:label="@string/title_activity_view_art_listings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mecca.meccurator.HomeActivity" />
        </activity>
        <activity
            android:name=".ViewItemBidsActivity"
            android:label="@string/title_activity_view_item_bids"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewItemActivity"
            android:label="@string/title_activity_view_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewItemActivity"
            android:label="@string/title_activity_add_new_item"
            android:parentActivityName=".ViewMyListingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mecca.meccurator.ViewMyListingsActivity" />
        </activity>
        <activity
            android:name=".EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:parentActivityName=".ViewMyListingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mecca.meccurator.ViewMyListingsActivity" />
        </activity>
        <activity
            android:name=".ViewUserActivity"
            android:label="@string/title_activity_view_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditUserActivity"
            android:label="@string/title_activity_edit_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
